:root {
  /* Colors */
  --color-black: #000000;
  --color-dark-grey: #1e2225;
  --color-grey: #656565;
  --color-white: #ffffff;
  --color-blue: #0000ff;
  --color-red: #ff0000;
  --color-green: #00ff00;

  /* Fonts: Inter, Nunito */
  --font-inter: "Inter", sans-serif;

  /* Sizes PX - Rems */
  --size-10px: 0.625rem;
  --size-14px: 0.875rem;
  --size-18px: 1.125rem;
  --size-20px: 1.25rem;
  --size-25px: 1.5625rem;
  --size-34px: 2.125rem;
  --size-37-5px: 2.34375rem;
  --size-40px: 2.5rem;
  --size-50px: 3.125rem;
  --size-75px: 4.6875rem;
  --size-100px: 6.25rem;
  --size-150px: 9.375rem;
  --size-200px: 12.5rem;
  --size-250px: 15.625rem;
  --size-450px: 28.125rem;
  --size-500px: 31.25rem;
  --size-550px: 34.375rem;
  --size-900px: 56.25rem;
  --size-1024px: 64rem;
  --size-1440px: 90rem;
}

/* Body */
body {
  font-family: var(--font-inter);
}

/* Wrapper */
.wrapper {
  max-width: var(--size-1440px);
  margin: auto;
}

/* Margins */
.margin-none {
  margin: 0;
}

.margin-sides-20 {
  margin: 0 var(--size-20px) 0 var(--size-20px);
}

.margin-top-bot-10 {
  margin: var(--size-10px) 0 var(--size-10px) 0;
}

.margin-top-20 {
  margin-top: var(--size-20px);
}

.margin-top-25 {
  margin-top: var(--size-25px);
}

.margin-top-50 {
  margin-top: var(--size-50px);
}

.margin-top-75 {
  margin-top: var(--size-75px);
}

.margin-top-100 {
  margin-top: var(--size-100px);
}

.margin-right-25-0 {
  margin-right: var(--size-25px);
}

.margin-right-250-0 {
  margin-right: var(--size-250px);
}

.margin-bot-50 {
  margin-bottom: var(--size-50px);
}

.margin-bot-100 {
  margin-bottom: var(--size-100px);
}

.margin-left-5 {
  margin-left: 5%;
}

.margin-left-10 {
  margin-left: 10%;
}

.margin-left-50-25 {
  margin-left: var(--size-50px);
}

/* Lines */
#lineFull {
  border-top: 1px solid var(--color-black);
}

#linePartial {
  border-top: 1px solid var(--color-black);
  width: 91.44%;
  align-self: flex-end;
}

#lineWhite {
  border-top: 1px solid var(--color-white);
  width: 100%;
}

#lineGrey {
  border-top: 1px solid var(--color-grey);
}

/* Text */
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: var(--size-100px);
}

h2 {
  font-size: var(--size-50px);
}

h3 {
  font-size: var(--size-34px);
}

p {
  font-size: var(--size-18px);
  margin: 0;
}

.text-indent-left-10 {
  margin-left: 10%;
}

.text-indent-left-55-16 {
  margin-left: 55%;
}

.text-indent-left-60-3 {
  margin-left: 60%;
}

.text-indent-left-60-15 {
  margin-left: 60%;
}

.text-indent-right-5 {
  margin-right: 5%;
}

.text-white-space {
  white-space: pre;
}

.text-align-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

/* Colors */
.color-grey {
  color: var(--color-grey);
}

.color-white {
  color: var(--color-white);
}

.color-blue {
  color: var(--color-blue);
}

.color-red {
  color: var(--color-red);
}

.color-green {
  color: var(--color-green);
}

.background-dark-grey {
  background-color: var(--color-dark-grey);
}

/* Images */
.image-sizing-50 {
  width: 50%;
  height: auto;
}

.image-sizing-60,
.image-sizing-60-100 {
  width: 60%;
  height: auto;
}

.image-sizing-90 {
  width: 90%;
  height: auto;
}

.image-sizing-100 {
  width: 100%;
  height: auto;
}

.width-auto {
  width: 50%;
}

/* Icons */
.icon {
  width: 4.25rem;
  height: 4.25rem;
}

svg {
  fill: var(--color-white);
}

svg:hover {
  fill: var(--color-grey);
}

/* Flex */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row,
.flex-row-none {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

/* Nav */
#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box,
.box-white {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  outline: 1px solid var(--color-black);
  width: var(--size-40px);
  height: var(--size-40px);
}

.box-white {
  outline: 1px solid var(--color-white);
}

.box-long,
.box-long-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--color-black);
  width: var(--size-150px);
  height: var(--size-40px);
}

.box-long-white {
  outline: 1px solid var(--color-white);
}

.box-long-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--color-black);
  width: var(--size-200px);
  height: var(--size-40px);
}

.bar,
.bar-white {
  background-color: var(--color-black);
  width: var(--size-25px);
  height: 1px;
}

.bar-white {
  background-color: var(--color-white);
}

/* Overlay */
#overlay {
  display: none;
}

#navOptions {
  margin-right: var(--size-25px);
  width: 100%;
  height: auto;
}

#overlayContent {
  display: flex;
  flex-direction: row;
}

/* Buttons */
.button,
.button-white {
  height: var(--size-40px);
  color: var(--color-black);
}

.button-white {
  color: var(--color-white);
}

.button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.button-white:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.button:hover .bar {
  background-color: var(--color-white);
}

.button-white:hover .bar-white {
  background-color: var(--color-black);
}

#centerButton {
  justify-content: center;
}

#rightButton {
  justify-content: flex-end;
}

/* Links */
a {
  color: var(--color-white);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--color-grey);
}

/* Case Studies */
#showcase {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#caseStudyHeading {
  justify-content: space-between;
  align-items: center;
}

#caseStudyOverview {
  justify-content: flex-end;
}

#caseStudyImages {
  display: flex;
  flex-direction: row;
}

/* Max Width */

.max-width-250 {
  max-width: var(--size-250px);
}

.max-width-450 {
  max-width: var(--size-450px);
}

.max-width-550 {
  max-width: var(--size-550px);
}

.max-width-900 {
  max-width: var(--size-900px);
}

/* iFrames */
.iframe-content {
  position: relative;
  overflow: hidden;
  padding-top: 71.11%;
}

.iframe-content iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Mobile */
@media (max-width: 428px) {
  /* Margins */
  .margin-top-0-50 {
    margin-top: var(--size-25px);
  }

  .margin-top-50 {
    margin-top: var(--size-25px);
  }

  .margin-top-75 {
    margin-top: var(--size-37-5px);
  }

  .margin-top-0-100 {
    margin-top: var(--size-50px);
  }

  .margin-top-100 {
    margin-top: var(--size-50px);
  }

  .margin-right-25-0 {
    margin-right: 0;
  }

  .margin-right-250-0 {
    margin-right: 0;
  }

  .margin-bot-50 {
    margin-bottom: var(--size-25px);
  }

  .margin-bot-100 {
    margin-bottom: var(--size-50px);
  }

  .margin-left-0-10 {
    margin-left: 10%;
  }

  .margin-left-0-13 {
    margin-left: 13%;
  }

  .margin-left-50-25 {
    margin-left: var(--size-25px);
  }

  /* Lines */
  #mobileLinePartial {
    border-top: 1px solid var(--color-black);
    width: 91.44%;
    align-self: flex-end;
  }

  /* Text */
  h1 {
    font-size: var(--size-34px);
  }

  h2 {
    font-size: var(--size-25px);
  }

  h3 {
    font-size: var(--size-20px);
  }

  p {
    font-size: var(--size-14px);
  }

  .text-indent-left-55-16 {
    margin-left: 16%;
  }

  .text-indent-left-60-3 {
    margin-left: 3%;
  }

  .text-indent-left-60-15 {
    margin-left: 15%;
  }

  /* Images */
  .image-sizing-60-100 {
    width: 100%;
    height: auto;
  }

  /* Icons */
  .icon {
    width: 2.125rem;
    height: 2.125rem;
  }

  /* Flex */
  .flex-row-none {
    display: block;
  }

  /* Overlay */
  #overlayContent {
    display: flex;
    flex-direction: column;
  }

  /* Case Studies */
  #showcase {
    flex-direction: column;
  }

  #caseStudyOverview {
    flex-direction: column;
  }

  #caseStudyProblem {
    flex-direction: column;
  }

  #caseStudyImages {
    flex-direction: column;
  }
}
